{% extends 'base.html' %} {% block content %}

<!-- .container>(.row>.col-md-12>h1{List of articles})+(.row>.col-md-12>table.table>(thead>tr>(th*3))+(tbody>tr>td*3)) -->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <h1>List of articles</h1>
    </div>
    <div class="col-md-6 text-end">
      <a href="{% url 'create_article' %}" class="btn btn-link">New article</a>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.description }}</td>
            <td nowrap> <strong> {{ article.category.name }}</strong></td>
            <td>
          
               <ul>
                  {% for tag in article.tags.all %}
                    <li>{{ tag.name }}</li> 
                  {% endfor %}
                </ul>
            </td>
            <td class="text-end">
              <a
                href="{% url 'show_article' article.id %}"
                class="btn btn-warning"
                >Show</a
              >

              <a
              href="{% url 'edit_article' article.id %}"
              class="btn btn-danger"
              >Edit</a
            >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
